{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{%static 'css/signup.css'%}">
</head>
<body>
    <div class="signup">
        
        <div class="form">
            <form action="{%url 'home'%}" method="post">
                {%csrf_token%}
                <h1>SignUp</h1>
                
                <input type="text" placeholder="Enter Username" name="username" value="{{form.username.value|default:''}}" >
                <input type="text" placeholder="Enter Password" name = "password1" value="{{form.password1.value|default:''}}">
                <input type="text" placeholder="Confirm Password" name = "password2" value="{{form.password2.value|default:''}}">

                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="form2">
            <p>Have account | <a href="{%url 'login'%}">Login</a></p>
        </div>
    </div>
</body>
</html>