{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{%static 'css/signup.css'%}">
</head>
<body>
    <div class="form-1">
        <form action="{%url 'home'%}" method="post" class="form">
            <h1>Sign Up</h1>
            {%csrf_token%}
            <input type="text" placeholder="Enter Username" name="username" value="{{form.username.value|default:''}}" >
            <input type="password" placeholder="Enter Password" name="password1" value="{{form.password1.value|default:''}}">
            <input type="password" placeholder="Confirm Password" name="password2" value="{{form.password2.value|default:''}}">
            <button type="submit">Create Account</button>
        </form>

        <div class="form2">
            <p>Already have an account? <a href="{%url 'login'%}">Login</a></p>
        </div>
    </div>
</body>
</html>