form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
    margin: 0 auto;
    width: 50%;
}

input{
    padding: 10px;
    border-radius: 2px;
    border: 1px solid;
}

button{
    display: flex;
    padding: 10px;
    transition: transform 0.3s ease-in;
    color: white;
    width: 50%;
    margin: 0 auto;
}

h1{
    text-align: center;
}

button{
    width: 30%;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px;
    background-color: green;
}

.form-below{
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

button:hover{
    transform: scale(1.08);
    
}