{%extends 'base.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Student Detail{%endblock%}</title>
    {%block extra_css%}
    <link rel="stylesheet" href="{%static 'css/detail.css'%}">
    {%endblock%}
</head>
<body>


{%block content%}
    <div class="student_detail">
        <div class="head">
            <div class="student-info">
                <h3><strong>Student ID:</strong> {{description.id}}</h3>
                <h3><strong>Name:</strong> {{description.Name}}</h3>
                <h3><strong>Grade:</strong> {{description.Grade}}</h3>
            </div>
            <div class="student-picture">
                <img src="{{description.Student_image.url}}" alt="Student Photo">
            </div>
        </div>

        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Marks (/100)</th>
                        <th>Grade</th>
                    </tr>
                </thead>

                <tbody>
                    {% for grade in grades|slice:":1" %}
                    <tr>
                        <td>Science</td>       
                        <td>{{description.SCI}}</td> 
                        <td>{{grade.SCI_GRADE}}</td>
                    </tr>
                    <tr>
                        <td>Social Studies</td>
                        <td>{{description.SST}}</td>
                        <td>{{grade.SST_GRADE}}</td>
                    </tr>
                    <tr>
                        <td>Mathematics</td>
                        <td>{{description.MTC}}</td>
                        <td>{{grade.MTC_GRADE}}</td>
                    </tr>
                    <tr>
                        <td>English</td>
                        <td>{{description.ENG}}</td>
                        <td>{{grade.ENG_GRADE}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>{{description.TOTAL}}</td>
                        <td>{{description.AGG}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>

        <div class="action-buttons">
            <a href="{% url 'students_list' %}" class="action-button">
                ← Back to Students
            </a>
            <a href="{% url 'generate_pdf' description.pk %}" class="action-button download-button">
                Download Report PDF
            </a>
        </div>
    </div>
{%endblock%}
</body>
</html>