.head{
    display: flex;
    align-items: center;
    justify-content: space-between;

}



img{
    width: 50%;
    height: 50%;
    float: right;
}

.student_detail{
    max-width: 80%;
    margin: 0 auto;
}

.student-info{
    margin-right: 5px;
    padding: 10px;
}

.student-picture{
    width: 50%;
}