form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 75%;
    min-width: 70%;
}

.form input{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid;
    
}

button{
    display: flex;
    padding: 10px;
    transition: transform 0.3s ease-in;
    color: white;
    
    margin: 0 auto;
}

h1{
    text-align: center;
}



.form-below{
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

button:hover{
    transform: scale(1.08);
    
}